
body {
  margin: 0 0;
  font-family: "Avenir Next";
  color: lightgray;
  background-color: var(--bgc);
}

:root {
  --bgc: rgb(15,15,15);
  --bc: rgb(40,40,40);
  --max-container-width: 1200px;
}

input,
input:active,
input:focus {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(50,50,50);
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
}

.main-header {
  background-color:var(--bgc);
  height: 70px;
  color: rgb(63, 132, 229);
}
.main-container {
  text-align: left;
  margin: 50px auto;
  max-width: 1200px;
}
.main-subcontainer {
  border: 2px outset var(--bc);
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 30px;
}


.ml-default {
  margin-left: 40px;
}



.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}

.jc-center {
  justify-content: center;
}
.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-space-between {
  justify-content: space-between;
}


.ls-none {
  list-style: none;
}

.d-inline,
.d-inline li{
  display: inline;
}
.m-20 li {
  margin: 20px 20px;
}
