@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*global config & reset*/
* {
  margin: 0px 0px;
  padding: none;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0px 0px;
  background-color: var(--bgc);
  color: var(--color);
}
button {
  outline: none;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  color: var(--color-header);
}
h4 {
  font-weight: 800;
  font-size: 15px;
}
h3 {
  font-size: 17px;
}
p, td, th {
  font-weight: 375;
  font-size: 15px;
}
th {
  font-size: 14px;
}

:root {
 /* robinhood */
 --tint-color: rgb(24, 200, 6);
 --tint-color-translucent: rgba(24, 200, 6, 0.2);

  /*twitter*/
  --tint-color: rgb(28, 148, 220); 
  --tint-color-translucent: rgba(28, 148, 220, 0.2);

  /* discord */
  --tint-color: rgb(114, 137, 218);
  --tint-color-translucent: rgb(114, 137, 218, 0.25);

  /* rando 
  --tint-color: rgb(0, 115, 207);
  --tint-color-translucent: rgb(0, 115, 207, 0.2);
*/
  /* dark mode */
  --bgc: black;
  --bgc-hover: rgb(24,27,31);
  --bgc-light:  rgb(21, 24, 28);
  --bc: rgb(40,42,44);
  --color: rgb(220,220,220);
  --color: rgb(240,240,240);
  --box-shadow: 0 1px 3px rgba(0,0,0,0.2);

  /* discord   */
  --bgc:  #2e3136;
  --bgc-hover: #323539;
  --bgc-light:rgb(57, 60, 65);
  --bc: rgb(60,64,66);
  --color: rgb(220,220,220);
  --color-header: rgb(240,240,240);
  --box-shadow: 0 1px 3px rgba(0,0,0,0.2);

  /*light mode */
  --bgc: #f6f7f9;
  --bgc-light: white;
  --bgc-hover: rgba(0,0,0,0.03);
  --bc: #cad3da;
  --color: rgb(51,51,51);
  --color-header: rgb(25,25,25);
  --box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  
  --ps-nav: 200px;
  --ps-main: 150px;
}

input, input:active, input:focus,
textarea, textarea:active, textarea:focus,
select, select:active, select:focus
 {
  background-color: transparent;
  color: var(--color);
  border: 1px solid var(--bc);
  border-radius: 3px;
  padding: 11px 10px;
  outline: none;
}
input:focus, input:active,
textarea:active, textarea:focus,
select:active, select:focus
{
  border-color: var(--tint-color);
  transition: 0.2s;
}
form label {
  font-weight: 450;
}

.main-header {
  background-color: var(--bgc);
  height: 70px;
  color: var(--color);
  padding: 0px 40px;
  position: sticky;
  top: 0px;
}
.sub-header {
  text-align: left;
  padding-right: var(--ps-nav);
  padding-left: var(--ps-nav);
  padding-bottom: 16px;
  color: var(--color);
  border-bottom: 1px solid var(--bc);
}
.sub-link-active {
  border-bottom: 3px solid var(--tint-color);
}
.header-link {
  color: var(--color);
  margin-right: 30px;
  margin-left: none;
  margin-top: none;
  font-weight: 475;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 15px;
}
.header-link:hover,
.link-active {
  color: var(--tint-color);
  transition: 0.2s;
}

.main-container {
  text-align: left;
  margin: 30px auto;
  padding-right: var(--ps-main);
  padding-left: var(--ps-main);
  color: var(--color);
}

.main-subcontainer {
  border-bottom: 1px solid var(--bc);
  padding: 20px 20px;
  color: var(--color);
}
.main-subcontainer:hover {
  background-color: var(--bgc-hover);
}
.main-subcontainer:last-child {
  border-bottom: none;
}

.float-container {
  border-radius: 10px;
  background-color: var(--bgc-light);
  box-shadow: var(--box-shadow);
  padding: none;
  overflow: hidden;
}

/* tables */
table {
  border-collapse: collapse;
}
th,td {
  padding: 15px;
}
th {
  background-color: var(--bgc-light);
  border-bottom: thin solid var(--bc);
  color: var(--tint-color);
}
tbody tr:hover{
  background-color: var(--bgc-hover);
}


/* display flex */
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}

.jc-center {
  justify-content: center;
}
.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-space-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-flex-start {
  align-items: flex-start;
}


.ls-none {
  list-style: none;
}
.td-none {
  text-decoration: none;
}

.d-inline{
  display: inline;
}

/*  Colors  */
.bgc-light {
  background-color: var(--bgc-light);
}
.bgc {
  background-color: var(--bgc);
}

/*  Buttons: 4 main types */
.solid-btn,
.clear-btn,
.solid-btn-secondary,
.clear-btn-secondary,
.clear-btn-cancel {
  padding: 15px 25px;
  background-color: var(--tint-color);
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.clear-btn,
.clear-btn-secondary {
  background-color: transparent;
  color: var(--tint-color);
  border: 2px solid var(--tint-color);
}
.solid-btn-secondary,
.clear-btn-secondary {
  padding: 10px 20px;
  font-size: 14px;
}
.solid-btn:hover,
.solid-btn-secondary:hover {
  filter: brightness(90%);
  transition: 0.4s;
}
.clear-btn:hover,
.clear-btn-secondary:hover {
  background-color: var(--tint-color-translucent);
  transition: 0.3s;
}
.clear-btn-cancel {
  background-color: transparent;
  color: var(--tint-color);
  border: none;
}
.clear-btn-cancel:hover {
  background-color: var(--tint-color-translucent);
  transition: 0.3s
}


